@model IOrderedEnumerable<Tuple<string, string>>

<button class="button_filter" data-toggle="collapse" data-target="#hide-me">Выбор категории</button>
<div id="hide-me" class="collapse in">
   @using (Html.BeginForm("ToListPost", "Product"))
   {
    <br />
       foreach (var item in Model)
       {
        <span class="aside_checkbox">
            @Html.CheckBox(item.Item1, (Request.Form[item.Item1] ?? string.Empty).Contains("true"))
            </span>
            @Html.DisplayFor(i => item.Item2);
            <br />
            }
            @*foreach (var item in Model)
                {
                 @Html.CheckBox(item.Item1, item.Item2); //(bool)ViewBag[item]
                 @Html.DisplayFor(i => item.Item1);
                 <br />
                }*@
            <input type="submit" value="Отправить" />
            }
        </div>

