@model LessonProject.Models.Info.PageableData<SportsStore.Domain.Entities.Product>
@{
    ViewBag.Title = "Products";
}
    @foreach (var p in Model.List)
    {
        Html.RenderPartial("ProductSummary", p);
    }
<div >@*class="pager" class="pagination pagination-right"*@
    @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("ListWithOtherPage", new { page = x }))
</div>
@*<div class="pagination">
        @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("Index", new { page = x, searchString }))
    </div>*@
